#background_vid {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background-size: cover;
}

#welcome_lock {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(img/welcome.jpg);
	top: 0;
	left: 0;
	z-index: 9999;
	display: block;
}

#welcome_box {
	position: absolute;
	height: 80%;
	width: 500px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	font-size: 30px;
	border-radius: 5px;
	display: block;
}

.in_box {
	width: 100%;
	display: block;
	text-align: center;
}

#input_container {
	position: absolute;
	width: 400px;
	height: 70%;
	left: 50px;
}

#in_note {
	position: absolute;
	font-size: 20px;
	bottom: 5px;
}

#change_bg_box {
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: inline-block;
	background-color: rgba(10,10,10,0.8);
	border-radius: 5px;
	padding: 5px;
	z-index: 9999;
}

#cur_bg_text {
	color: white;
	display: inline;
}

#change_bg {
	border-radius: 5px;
}

#welc_name {
	position: absolute;
	height: 40px;
	top: 60px;
	left: 0px;
	background-color: rgba(10,10,10,0.8);
	font-size: 30px;
	color: white;
	font-family: monospace;
	border-radius: 5px;
	padding: 0px 5px;
	z-index: 9998;
}

#rec_box {
	position: absolute;
	width: 200px;
	height: 280px;
	top: 100px;
	left: -200px;
	text-align: center;
	background-color: rgba(10,10,10,0.8);
	border-radius: 5px;
	font-family: monospace;
	font-size: 20px;
	color: white;
	transition: 0.5s;
	z-index: 9998;
}

#control_panel {
	position: absolute;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
}

#left_cp {
	position: absolute;
	height: 100%;
}

#mtb {
	position: absolute;
	height: 100%;
	font-size: 40px;
	font-family: monospace;
	left: 5px;
	color: white;
	display: inline-block;
}

#logo {
	position: absolute;
	height: 80%;
	top: 0;
	left: 70px;
	padding: 5px 0px;
}

#right_cp {
	position: absolute;
	height: 100%;
	right: 0;
}

.c_head {
	font-family: monospace;
	font-size: 30px;
	color: white;
	display: inline-block;
	padding: 10px 10px 4px 10px;
}

.c_head:hover {
	color: black;
	text-decoration: underline;
	background-color: white;
}

#bike_box {
	position: absolute;
	width: 80%;
	height: 75%;
	top: 20%;
	left: 0;
	right: 0;
	margin: auto;
	display: none;
	transition: opacity 1s linear;
}

#bike_box_content0 {
	width: 100%;
	height: 100%;
	display: block;
	background-color: rgba(10,10,10,0.8);
	text-align: center;
	border-radius: 5px;
}

#left_bike {
	position: absolute;
	height: 100%;
	width: 48%;
	top: 5px;
	left: 5px;
}

.bpic {
	width: 95%;
	border-radius: 5px;
}

#right_bike {
	position: absolute;
	height: 100%;
	width: 48%;
	top: 5px;
	right: 5px;
}

.bike_intro {
	font-size: 25px;
	color: white;
}

#bike_box_content1 {
	width: 100%;
	height: 100%;
	display: none;
}

#bike_box_content2 {
	width: 100%;
	height: 100%;
	display: none;
}

.bike {
	width: 50%;
	border-radius: 5px 0px 0px 5px;
	display: inline;
}

#bike_text {
	position: absolute;
	font-size: 20px;
	color: rgba(200,200,200,1);
	width: 50%;
	height: 100%;
	background-color: rgba(10,10,10,0.8);
	display: inline;
	padding: 0px 5px;
	overflow-y: scroll;
	border-radius: 0px 5px 5px 5px;
}

#gear_box {
	position: absolute;
	width: 80%;
	height: 75%;
	top: 20%;
	left: 0;
	right: 0;
	margin: auto;
	background-color: rgba(10,10,10,0.8);
	border-radius: 5px;
	font-size: 20px;
	color: rgba(200,200,200,1);
	overflow-y: scroll;
	display: none;
}

#gear_intro {
	font-size: 25px;
	width: 100%;
	height: 10%;
	margin: 0 0 0 0;
	display: inline;
}

#gears {
	width: 100%;
}

.gear_content {
	position: relative;
	height: 30%;
	width: 95%;
	margin: 10px;
	display: inline-block;
	padding: 0 5px;
}

.gear_content_img {
	width: 180px;
	display: inline;
}

.gear_content_text {
	width: 50%;
	display: inline;
}

#skill_box {
	position: absolute;
	width: 80%;
	height: 75%;
	top: 20%;
	left: 0;
	right: 0;
	margin: auto;
	display: none;
}

#skill_info {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 30px;
	color: white;
	background-color: rgba(10,10,10,0.8);
	text-align: center;
	border-radius: 5px;
}

#skill_info_head {
	font-size: 40px;
	height: 10%;
	width: 100%;
	line-height: 250%;
}

#skill_info_bod {
	text-align: justify;
	padding: 10px;
}

#skill_box_content {
	position: absolute;
	font-size: 30px;
	color: rgba(200,200,200,1);
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: rgba(10,10,10,0.8);
	border-radius: 5px;
	display: none;
}

#skill_name {
	width: 100%;
	height: 10%;
}

#skill_videos {
	width: 100%;
	height: 80%;
}

#prev_skil_vid {
	left: 0;
	bottom: 0;
	display: none;
}

#next_skil_vid {
	right: 0;
	bottom: 0;
	display: block;
}

.prevNext {
	position: absolute;
	text-align: center;
	width: 35px;
	height: 35px;
	background-color: rgba(150,150,150,0.5);
	border-radius: 5px;
	border: 1px;
}

#discipline_box {
	position: absolute;
	width: 80%;
	height: 75%;
	top: 20%;
	left: 0;
	right: 0;
	margin: auto;
	display: none;
}

#discipline_box_content {
	position: absolute;
	font-size: 30px;
	color: rgba(200,200,200,1);
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: rgba(10,10,10,0.8);
	border-radius: 5px;
}

#discipline_name {
	width: 100%;
	height: 10%;
}

#discipline_videos {
	position: absolute;
	width: 100%;
	height: 75%;
	top: 23%;
	left: 0;
}

#credit {
	position: absolute;
	width: 70px;
	bottom: 15px;
	left: 47%;
	border-radius: 5px;
}

#credit_page {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left:0;
	background-color: rgba(255,255,255,0.8);
	z-index: 9998;
	display: none;
}

#credit_list {
	position: absolute;
	width: 500px;
	height: 80%;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	font-size: 30px;
}

#close_credit {
	position: absolute;
	top: -10px;
	right: -10px;
	border-radius: 100px;
}

.credit_bod {
	margin: 20px 0px;
	display: grid;
}
